{% extends "formBase.html" %}

{% block title %}Edit Your Details {% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}

<div class="SignUpDiv">
    <div>
    <h2>Edit your details {{user.username}}</h2>
</div>

    <form id="SignUpDiv" method="post">
    <div class="form-item">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button" type="submit">Update</button>
    </div>

    </form>

</div>

{% else %}
<a href="{% url 'login' %}">
    <button> Please Login to update your details</button>
</a> 

{% endif %}



{% endblock %}