@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,800&family=Source+Sans+3:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Corinthia:wght@700&family=Lato:wght@100;900&family=Libre+Baskerville:wght@400;700&family=Open+Sans:wght@600&family=Playfair+Display:ital,wght@0,400;0,800;1,800&family=Source+Sans+3:wght@200&display=swap');



body {
    /* background-color: lightpink; */
    /* background-image: url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80); */
    /* border: purple; */
    font-family:  'Lato', sans-serif;
    font-weight: normal;

    
}

.createStoryDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-position: center;
    opacity: .7;
}

.SignUpDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-position: center;
    opacity: .7;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    /* background-color: white ; */
    background: linear-gradient(-45deg, rgba(179, 18, 130, 0.8), rgba(69, 19, 134, 0.8), rgba(107, 40, 170, 0.8), rgba(224, 61, 189, 0.8));
	
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}



h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    text-shadow: 1,1;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    color: white;
}

h2 {
   color: black;
   font-size: 2rem;
   font-family: 'Lato', sans-serif;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

p {
    /* font-family: 'Lato'; */
    font-weight: 400;
    font-size: 1.5rem;
}

/* form{
    display: flex;
    border-bottom: 1px solid magenta;

} */

form p label {
    color: black;
}


form p input, select, textarea{
    border-radius: 6px;
    font-size:  1.5rem;
    background-color: whitesmoke;
    padding: 2px;
    margin: 2px;
    
}

/* #createStoryForm p textarea {
    background-color: white;
    border-radius: 4px;
} */

#createStoryForm {
    display: flex;
    align-content: center;
    margin: 2px;
    padding:5px;
    width: 50%;
    /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(236, 236, 248, 0.75); */

    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 12px;
    border: 1px solid rgba(170, 188, 214, 0.3);
}

form {
    /* display: flex;
    align-content: flex-start; */
    margin: 2px;
    padding:5px;
    width: 60%;
    /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(236, 236, 248, 0.75); */

    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 12px;
    border: 1px solid rgba(170, 188, 214, 0.3);

}

#createStoryForm  input, select, textarea, button {
    display: flex;
    margin: 2px ;
    /* justify-content:baseline; */
    align-items:flex-start;
    padding: 2px;
}

#createStoryForm  p input, select, textarea, button {
    font-size: 1.5rem;
    font-family:  'Lato', sans-serif; ;
}



form {
    display: flex;
    align-content: center;
    margin: 2px;
    padding:5px;
    width: 50%;
    /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(236, 236, 248, 0.75); */

    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 12px;
    border: 1px solid rgba(170, 188, 214, 0.3);
}


form  input, select, textarea, button {
    display: flex;
    margin: 2px ;
    /* justify-content:baseline; */
    align-items:flex-start;
    padding: 2px;
}

form  p input, select, textarea, button {
    font-size: 1.5rem;
    font-family:  'Lato', sans-serif; ;
}






button {
    display: block;
    width: fit-content;
    height: 50px;
    line-height: 46px;
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
    border: 3px solid #340a50;
    color: #21094e;
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
    background: rgba(87, 28, 216, 0.123);
    text-transform: uppercase;
    transition: all .35s;
     }
  
  button:before,
  button:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: #411494;
    z-index: -1;
    transition: all .35s;
  }
  
  button:before{
    opacity: .5;
  }
  
  button:after{
    transition-delay: .2s;
  }
  
  button:hover{
    color: rgb(164, 157, 197);
  }
  
  button:hover:before,
  button:hover:after{
    top: 0;
  }



/* #sucess-msg {
    background-color: green;

} */

/* .story-card{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #bcb8ce;
    border-radius: 12px;
    border: 2px solid rgba(182, 170, 214, 0.3);
    border-radius: 2px;
} */
   


