@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,800&family=Source+Sans+3:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Corinthia:wght@700&family=Lato:wght@100;900&family=Libre+Baskerville:wght@400;700&family=Open+Sans:wght@600&family=Playfair+Display:ital,wght@0,400;0,800;1,800&family=Source+Sans+3:wght@200&display=swap');



body {
    background-color: white;
    /* background-image: url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80); */
  
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white ;
}

img {
    filter: drop-shadow(1);
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    text-shadow: 1,1;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    color: #4c394f;
}

h2 {
   color: black;
   font-size: 1.5rem;
   font-family: 'Lato', sans-serif;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    /* font-family: 'Lato'; */
    font-weight: 400;
}

/* #sucess-msg {
    background-color: green;

} */

.story-card{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #bcb8ce;
    border-radius: 12px;
    border: 2px solid rgba(182, 170, 214, 0.3);
    border-radius: 2px;
}
   


