{% load static %} 

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Kristie Brandis">
        <link rel="stylesheet"  href="{% static 'news/errorStyles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    {% block content %}

    <body>
        <header>
            <h1>This is not the page you are looking for</h1>
        </header>

        <h2>Sorry but the page you have navigated to doesnt exist</h2>
        <h2>Heres a cute Giraffe instead</h2>
        <img src="https://images.unsplash.com/photo-1626548307930-deac221f87d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y3V0ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"></img>
        <h2>Return Home?</h2>

        <a href="{{ home }}">
            <button> Homepage</button>
        </a>
        
    </body>

    {% endblock %}
</html>
