{% extends "base.html" %}  
{% load static %} 
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

    {% if messages %}
    {% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}" id="sucess-msg">
        {{ message|safe }}
    </div>
    {% endfor %}
    {% endif %}

    {% if request.user.is_authenticated %}
    <a href="{% url 'news:newStory' %}">Write New Story</a>
    {% else %}
    <a href="{% url 'login' %}">Please Login to create News Story</a>
    {% endif %}
   
    <div>
        <p>By category</p>
        <ul>
        {% for category in category_filter %}
            <li><a href="{% url 'news:search' %}?category={{ category.name }}">{{category.name}}</a></li>
        {% endfor %}
        </ul>
        <p>By Author</p>
        <ul>
        {% for author in author_filter %}
            <li><a href="{% url 'news:search' %}?author={{ author.username }}">{{author.username}}</a></li>
        {% endfor %}
        </ul>
    </div>

   <h2>Latest News</h2>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>


 
   <!-- <h2>All News</h2> -->

    <!-- <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div> -->

    {% endblock %}