{% extends "base.html" %}  
{% load static %} 
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/allStoriesStyles.css' %}">
{% endblock %}

{% block content %}

    

    {% if request.user.is_authenticated %}
    <a href="{% url 'news:newStory' %}">
    <button> Write a News Story</button>
    </a>
    {% else %}
    <a href="{% url 'login' %}">
        <button> Please Login to create a Story</button>
    </a>
    {% endif %}


   <div class="homepageH2">
   <h2>Search News</h2>
   </div>

   <div class="sortStories">
    <h2>Sort stories by:</h2>
 
    
    
    <a href="{% url 'news:search' %}?{{sort.0}}">
        <button>{{sort.1}}</button>
    </a>
    
    </div>

   <div class="homepageFilters">
    <h2>Filter all News Stories</h3>
    <div>   
    <h3>By Category</h3>
    {% for category in category_filter %}
        <a href="{% url 'news:search' %}?{{ category.0 }}">
        <button>{{category.1}}</button>
        </a>
   
    {% endfor %}
    <h3>By Author</h3>
    {% for author in author_filter %}
        <a href="{% url 'news:search' %}?{{ author.0 }}">
        <button>{{author.1}}</button>
        </a>
    
    {% endfor %}

    <h3>Clear Filters</h3>
    <a href="{% url 'news:search' %}?sort=asc">
        <button>Clear</button>
        </a>

    </div>  
    </div>

   <div id="all-stories" >
    {% if NewsStory %}
        {% for story in NewsStory %}
            {% include "./storyCard.html" with story=story %}
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
</div>



   <!-- <h2>All News</h2> -->

    <!-- <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div> -->

    {% endblock %}